<section class="sample">
  <button class="sample__reset js-resetButton" type="reset">
    <i class="far fa-trash-alt"></i>
    Reset
  </button>
  <article class="sample__card js_card_result">
    <hgroup class="sample___card--title">
      <h2 class="sample__card--title--name js-nameCard js-colorTitle">
        Nombre Apellido
      </h2>
      <h3 class="sample__card--title--job js-jobCard js-colorSubtitle">
        Front-end developer
      </h3>
    </hgroup>
    <!--
    <img
      class="sample__card--img js__profile-image"
      src="./assets/images/picrandom.jpg"
      alt="Imagen elegida por el usuario"
    />
  -->
    <div
      class="sample__card--img js__profile-image"
      style="background-image: url('./assets/images/picrandom.jpg')"
    ></div>
    <ul class="sample__card--contact">
      <li class="item item1">
        <a
          href=""
          target="_blank"
          title="Llamar"
          class="itemLink js-colorIcon js-phoneCard"
        >
          <i class="fas fa-mobile-alt"></i>
        </a>
      </li>
      <li class="item item2">
        <a href="" target="_blank" class="itemLink js-colorIcon js-emailCard"
          ><i class="far fa-envelope"></i
        ></a>
      </li>

      <li class="item item3">
        <a href="" target="_blank" class="itemLink js-colorIcon js-linkedin">
          <i class="fab fa-linkedin-in"></i
        ></a>
      </li>

      <li class="item item4">
        <a href="" target="_blank" class="itemLink js-colorIcon js-githubcard">
          <i class="fab fa-github-alt"></i
        ></a>
      </li>
    </ul>
  </article>
</section>
