<section class="sample">
    <button class="sample__reset">
        <i class="far fa-trash-alt"></i>
        Reset
    </button>

    <article class="sample__card">
        <h3 class="sample__card--name">Nombre Apellido</h3>
        <h2 class="sample__card--job"></h2>
        <img class="sample__card--img" src="./assets/images/picrandom.jpg" alt="Imagen elegida por el usuario">
        <ul class="sample__card--contact">
            <li class=""><i class="fas fa-mobile-alt"></i></li>
            <li><i class="far fa-envelope"></i></li>
            <li><i class="fab fa-linkedin-in"></i></li>
            <li><i class="fab fa-github-alt"></i></li>
        </ul>

    </article>
</section>