<section class="sample">
  <button class="sample__reset">
    <i class="far fa-trash-alt"></i>
    Reset
  </button>
  <article class="sample__card">
    <div class="sample___card--title">
      <h2 class="sample__card--title--name">Nombre Apellido</h2>
      <h3 class="sample__card--title--job">Front-end developer</h3>
    </div>
    <img class="sample__card--img" src="./assets/images/picrandom.jpg" alt="Imagen elegida por el usuario" />
    <ul class="sample__card--contact">
      <a href="tel:" target="_blank" title="Llamar">
        <li class="item item1"><i class="fas fa-mobile-alt"></i></li>
      </a>
      <a href="mailto:" target="_blank">
        <li class="item item2"><i class="far fa-envelope"></i></li>
      </a>
      <a href="">
        <li class="item item3"><i class="fab fa-linkedin-in"></i></li>
      </a>
      <a href="">
        <li class="item item4"><i class="fab fa-github-alt"></i></li>
      </a>
    </ul>
  </article>
</section>