<section class="sectionDesigns">
  <article class="collapsible-title">
    <p></p><img class="icon" src="./assets/images/arrowx2.png" alt="">Diseña <img class="arrow" src="./assets/images/arrowx2.png" alt=""> </p>
    <div class="color">
      <p>color</p>
      <div class="palette">
       
      <div class="paletteA">
        
        <div class="palette_1"></div>
        <div class="palette_2"></div>
        <div class="palette_3"></div>
      </div>
      <div class="paletteB">
        <div class="palette_1"></div>
        <div class="palette_2"></div>
        <div class="palette_3"></div>
      </div>
      <div class="paletteC">
        <div class="palette_1"></div>
        <div class="palette_2"></div>
        <div class="palette_3"></div>
      </div>
    </div>
  </div>
  </div>
  </article>
</section>
