<section class="sectionDesigns">
  <article class="collapsible-title">
    <div class="a">
      <p><i class="far fa-object-ungroup"></i>Diseña</p>
      <img class="arrow" src="./assets/images/arrowx2.png" alt="" />
    </div>
    <div class="color">
      <p class="text">color</p>
      <div class="palette">
        <fieldset class="check" action="/signup">
          <label class="check_one" for="paymentmethod1">
            <input
              class="one"
              id="paymentmethod1"
              type="radio"
              value="debitcard"
              name="paymentmethods"
            />
            <div class="paletteA">
              <div class="palette_1"></div>
              <div class="palette_2"></div>
              <div class="palette_3"></div>
            </div>
          </label>
          <label class="check_one" for="paymentmethod2">
            <input
              class="one"
              id="paymentmethod2"
              type="radio"
              value="creditcard"
              name="paymentmethods"
            />
            <div class="paletteB">
              <div class="palette_1"></div>
              <div class="palette_2"></div>
              <div class="palette_3"></div>
            </div>
          </label>
          <label class="check_one" for="paymentmethod3">
            <input
              class="one"
              id="paymentmethod3"
              type="radio"
              value="paypal"
              name="paymentmethods"
            />
            <div class="paletteC">
              <div class="palette_1"></div>
              <div class="palette_2"></div>
              <div class="palette_3"></div>
            </div>
          </label>
        </fieldset>
      </div>
    </div>
  </article>
  <div class="line1"></div>
</section>
