<section class="sectionDesigns">
  <article class="collapsible-title ">
    <div class="a js-headerClick">
      <p><i class="far fa-object-ungroup"></i>Diseña</p>
      <a class="aArrow js-arrow"><img class="arrow" src="./assets/images/arrowx2.png" alt="" />
      </a>
    </div>
    <div class="js-collapse hidden">
      <div class="color">
        <p class="text">colores</p>
        <div class="palette">
          <fieldset class="check" action="/signup">
            <label class="check_one js-paletteOne js_palette" for="palette">
              <input class="one js-buttonOne" id="palette" type="radio" value="1" name="" />
              <div class="paletteA">
                <div class="palette_1"></div>
                <div class="palette_2"></div>
                <div class="palette_3"></div>
              </div>
            </label>
            <label class="check_one js-paletteTwo js_palette" for="palette">
              <input class="one" id="palette" type="radio" value="2" name="" />
              <div class="paletteB">
                <div class="palette_1"></div>
                <div class="palette_2"></div>
                <div class="palette_3"></div>
              </div>
            </label>
            <label class="check_one js-paletteThree js_palette" for="palette">
              <input class="one" id="palette" type="radio" value="3" name="" />
              <div class="paletteC">
                <div class="palette_1"></div>
                <div class="palette_2"></div>
                <div class="palette_3"></div>
              </div>
            </label>
          </fieldset>
        </div>
      </div>
  </article>
  <div class="line1"></div>
</section>