<main main__landing>
  <section class="landing__hero">
    <img
      class="landing__logo"
      src="./assets/images/tarjetas-molonas.png"
      alt="tarjetas-molonas"
    />
    <h1 class="landing__title">Crea tu tarjeta de visita</h1>
    <p class="landing__paragraf">
      Crea mejores contactos profesionales de forma fácil y cómoda
    </p>
    <div class="landing__icons">
      <span>Diseña</span>
      <span>Rellena</span>
      <span>Comparte</span>
    </div>
    <button class="landing__button">
      <a class="link1" href="./interactive.html">comenzar</a>
    </button>
  </section>
</main>
