<section class="sectionDesigns">
  <article class="collapsible-title">
    <div class="a js-autentic-title">
      <p><i class="fas fa-share-alt"></i>Comparte</p>
      <img class="arrow3 js-arrow" src="./assets/images/arrowx2.png" alt="" />
    </div>
  <!-- </article> -->
  <div class="hidden js-collapse">
    <article class="button">
      <button class="button1">
        <img class="target" src="./assets/images/target.png" alt="" />
        <p>Crear tarjeta</p>
      </button>
    </article>
  </div>
  <div class="line3"></div>
</section>
