<section class="sectionDesigns">
  <article class="collapsible-title ">
    <div class="a js-headerClick">
      <p><i class="fas fa-share-alt"></i>Comparte</p>
      <a class="aArrow js-arrow"> <img class="arrow" src="./assets/images/arrowx2.png" alt="" />
    </div>
  
  <div class="hidden js-collapse">
    <article class="button">
      <button class="button1">
        <img class="target" src="./assets/images/target.png" alt="" />
        <p>Crear tarjeta</p>
      </button>
    </article>
    <div class="line3"></div>
    <article class="share">
      <h1 class="title">La tarjeta ha sido creada:</h1>
      <h4 class="url">URL creada al pinchar en el botón</h4>
      <button class="twitter">
        <p>Compartir en twitter</p>
      </button>
    </article>
  </article>
  </div>
  <div class="line3"></div>
</section>
