<section class="sectionDesigns">
  <article class="collapsible-title ">
    <div class="a js-headerClick">
      <p><i class="fas fa-share-alt"></i>Comparte</p>
      <a class="aArrow js-arrow"> <img class="arrow" src="./assets/images/arrowx2.png" alt="" /></a>
    </div>

    <div class="hidden js-collapse">
      <article class="button">
        <button class="button1 js_create_btn">
          <img class="target" src="./assets/images/target.png" alt="" />
          <p>Crear tarjeta</p>
        </button>
      </article>
      <div class="line3"></div>
      <div class="hiddenTwitter">
      <article class="share js-shareTwitter">
        <h1 class="title">La tarjeta ha sido creada:</h1>
        <h4 class="url js-url">URL creada al pinchar en el botón</h4>
        <div class="button">
          <a><i class="fab fa-twitter">
              <p class="twitter js-shareTwitter"> Compartir en twitter</p>
            </i></a>
        </div>
      </article></div>
  </article>
  </div>
  <div class="line3 line4 "></div>
</section>