.sample {
  background: linear-gradient(#bfcdd0, #dde9ed);
  padding: 38px 35px 40px 45px;
  order: 2;
  @media (min-width: 768px) {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
  }
  &__reset {
    width: 75px;
    height: 30px;
    background-color: inherit;
    border: solid 1px $white-two;
    border-radius: 15px;
    text-transform: uppercase;
    font-size: 12px;
    color: $gunmetal;
    margin-bottom: 20px;
    @media (min-width: 768px) {
      transform: translateX(-84px);
      // margin-right: auto;
    }
  }

  &__card {
    width: 240px;
    // height: 330px;
    background-color: $white-two;
    border-radius: 2px;
    box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
    padding-top: 20px;

    &--title {
      &--name {
        padding-left: 15px;
        padding-bottom: 4px;
        font-size: 18px;
        font-weight: 600;
        line-height: 20px;
        color: $dark-green-blue;
        border-left: $dirty-blue solid 5px;
      }

      &--job {
        padding-left: 15px;
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 20px;
        border-left: $dirty-blue solid 5px;
      }
    }

    &--img {
      width: 240px;
      height: 200px;
      background-size: cover;
    }

    &--contact {
      list-style: none;
      display: flex;
      flex-direction: row;
      // gap: 10px;
      padding: 5px 20px 12px;

      .item {
        // width: 32px;
        // height: 32px;
        font-size: 18px;
        color: $dark-green-blue;
        border: solid 2px $hospital-green;
        border-radius: 16px;
        margin-right: 10px;
      }

      .item1 {
        padding: 3px 10px;
      }

      .item2,
      .item3,
      .item4 {
        padding: 3px 7px;
      }
    }
  }
}
