.sectionDesigns {
  font-family: "Open Sans", sans-serif;
  color: #54585a;
  margin-bottom: 10px;
  .collapsible-title {
    margin: 27px 20px 11px 0;

    .fa-object-ungroup {
      margin: 0 10px 0 20px;
      width: 21px;
      height: 18px;
      color: #e17334;
      position: relative;
      top: 2px;
    }
    .a {
      .arrow {
        height: 22px;
        position: relative;
        top: 3px;
        margin-left: auto;
      }
    }
    .color {
      display: flex;
      justify-content: space-between;
      font-weight: normal;
      font-size: 14px;
      margin: 22px -10px 0 39px;
    }
    .palette {
      margin-top: 10px;
      .check {
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
        border: none;
        .check_one {
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin-bottom: 20px;
        }
        .one {
          grid-column: 1/2;
          height: 14px;
        }
      }
      .paletteA {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .palette_1 {
          background-color: #114e4e;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: #438792;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: #a2deaf;
          height: 25px;
          width: 30px;
        }
      }
      .paletteB {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        .palette_1 {
          background-color: #420101;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: #bd1010;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: #e95626;
          height: 25px;
          width: 30px;
        }
      }
      .paletteC {
        display: grid;
        grid-column: 2/3;
        grid-template-columns: 1fr 1fr 1fr;
        .palette_1 {
          background-color: #3e5b65;
          height: 25px;
          width: 30px;
        }
        .palette_2 {
          background-color: #eab052;
          height: 25px;
          width: 30px;
        }
        .palette_3 {
          background-color: #a0c0cf;
          height: 25px;
          width: 30px;
        }
      }
    }
  }

  .line1 {
    margin: 15px 20px 0 20px;
    height: 1px;
    background-color: #d8d8d8;
  }
}
