.footer__container {
  height: 120px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
  }
}

.logo__adalab {
  margin-top: 12px;
  height: 40px;
  width: 103px;
  @media (min-width: 768px) {
    margin-right: 40px;
  }
}
.footer__text {
  font-size: 14px;
  color: $brownish-grey;
  line-height: 20px;
  @media (min-width: 768px) {
    margin-left: 40px;
  }
}
